.tabs{
  &>:global(.ant-tabs-bar){
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    &>:global(.ant-tabs-extra-content){
      float: none;
    }
    &>:global(.ant-tabs-nav-container){
      flex: 1;
      :global(.ant-tabs-tab-prev .anticon),
      :global(.ant-tabs-tab-next .anticon),
      :global(.ant-tabs-tab){
        font-size: $font-size-xl;
      }
      :global(.ant-tabs-tab){
        padding: $padding-m 0;
        margin-right: $padding-l;
      }
    }
  }
}