.wrap{
  position: relative;
  line-height: normal;
  display: inline-block;
  width: 100%;
  .input{
    :global(.ant-input-group-addon){
      &:after{
        content: ':'
      }
    }
    &:global(.required){
      :global(.ant-input-group-addon){
        &:before{
          content: '*';
          margin-right: $padding-xs;
          color: $color-text-strong;
        }
      }
    }
  }
}

.dropdown{
  width: 100%;
  min-width: 400px;
  :global(.ant-popover-content){
    :global(.ant-popover-arrow){
      display: none;
    }
    :global(.ant-popover-inner-content){
      padding: 0;
    }
  }
  dl,dt,dd,ul,li{
    margin: 0;
    padding: 0;
  }
  .main{
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .dl{
    .dt{
      padding: $padding-xs $padding-l;
      font-weight: bold;
      color: $color-text-base;
    }
  }
  .list{
    margin: 0;
  }
  .item{
    display: flex;
    padding: $padding-xs $padding-l;
    &:hover{
      background: $bg-hover;
    }
    .itemCont{
      flex: 1;
      & + .itemExtra{
        margin-left: $padding-s;
      }
    }
  }
  .ctrl{
    text-align: center;
    border-top: 1px solid $border-color;
    padding: $padding-xs $padding-l;
    :global(.iconfont){
      position: relative;
      top: -1px;
      margin-right: $padding-xs;
    }
  }
}