.wrap{
  margin: 0 auto;
  position: absolute;
  left: $padding-l;
  right: $padding-l;
  bottom: $padding-l;
  top: 45px + $padding-l;
  min-width: $min-width;
  width: $default-width;
  display: flex;
  flex-direction: column;
}

.head{
  padding: 0;
  .headWrap{
    display: flex;
    justify-content: space-between;
  }
  .headMain{
    padding: $padding-xs 0;
    flex: 1;
    display: flex;
  }
  .headLogo{
    margin-right: $padding-l;
    img{
      display: block;
      height: 32px;
    }
  }
  .quick{
    background: $bg-gray;
    height: auto;
    border: none;
    border-radius: 0;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    padding: 0 $padding-m;
    display: flex;
    align-items: center;
    white-space: normal;
    .icon{
      display: block;
      width: 24px;
      height: 24px;
      margin-right: $padding-s;
    }
    .span{
      color: $color-text-base;
      width: $font-size-base * 2;
      font-size: $font-size-base;
      line-height: 1.15;
    }
  }
}

.quickMenu{
  width: 500px;
  :global(.ant-col){
    padding: $padding-xs 0;
  }
  :global(.ant-popover-inner-content){
    padding: $padding-s $padding-l;
  }
  :global(.ant-btn){
    border: none;
    color: $color-text-base-inverse;
    font-size: $font-size-lg;
    height: 40px;
  }
  .btnBlue{
    background: url('../../../assets/images/btn-bg-blue.png') no-repeat;
  }
  .btnCoffee{
    background: url('../../../assets/images/btn-bg-coffee.png') no-repeat;
  }
  .btnGreen{
    background: url('../../../assets/images/btn-bg-green.png') no-repeat;
  }
  .btnOrg{
    background: url('../../../assets/images/btn-bg-org.png') no-repeat;
  }
  .btnRed{
    background: url('../../../assets/images/btn-bg-red.png') no-repeat;
  }
  .btnBlue,
  .btnCoffee,
  .btnGreen,
  .btnOrg,
  .btnRed{
    background-size: cover;
  }
}

.splitter{
  background: $bg-default;
  border: 1px solid $border-color;
  display: flex;
  &:global(.full){
    flex: 1;
    overflow: hidden;
  }
  .full,
  .extra{
    padding: $padding-l;
  }
  .full{
    flex: 1;
    &:global(.flex){
      padding: 0;
      display: flex;
      flex-direction: column;
      :global(.ant-tabs){
        flex: 1;
        display: flex;
        flex-direction: column;
        :global(.ant-tabs-content){
          flex: 1;
          overflow-y: auto;
        }
      }
    }
  }
  .extra{
    width: 360px;
    border-left: 1px solid $border-color;
    &:global(.flex){
      padding: 0;
      display: flex;
      flex-direction: column;
    }
  }
  & + .splitter{
    margin-top: $padding-m;
  }
}
