.table{
  :global(.ant-table.ant-table-small){
    border: none;
    border-radius: 0;
    &>:global(.ant-table-content > .ant-table-body){
      margin: 0;
      :global(.ant-table-thead){
        background: $table-header-bg;
      }
      :global(.ant-table-tbody){
        &>:global(tr.ant-table-row.ant-table-row-level-0){
          &>td:first-child{
            color: $color-text-base;
            font-weight: bold;
          }
        }
      }
    }
  }
  a{
    position: relative;
  }
  .strong{
    color: $color-text-base;
  }
  .bar{
    display: inline-block;
    vertical-align: top;
    span{
      margin-right: $padding-l;
    }
  }
  .firstTd{
    white-space: nowrap;
    display: flex;
    &>:global(.ant-table-row-expand-icon){
      display: block;
    }
    .info{
      flex: 1;
      white-space: normal;
      word-break: break-all;
    }
  }
}