.wrap{
  width: 600px;
  padding: 0;
  :global(.ant-popover-inner-content){
    padding: 0;
    :global(.ant-card){
      :global(.ant-card-head){
        padding: 0 $padding-m;
        :global(.ant-card-head-title),
        :global(.ant-card-extra){
          padding: $padding-m 0;
        }
      }
      :global(.ant-card-body){
        padding: 0;
      }
    }
  }
}